.git
.github

.env
.env.*
!.env.example

/node_modules
/vendor
/public/build
/public/hot
/public/storage

/storage/*.key
/storage/app/*
!/storage/app/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/tests
phpunit.xml
.phpunit.cache
.phpunit.result.cache

/raw_template
*.py

.claude
.codex
.agents
.cursor
.idea
.nova
.vscode
.zed
.DS_Store

README.md
CLAUDE.md
AGENTS.md
